{% extends 'teacherindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="548" height="186" border="1" class="table table-responsive">
    <tr>
       <tr>
      <td style="color: black">#</td>
      <td style="color: black">STUDENT NAME</td>
      <td style="color: black">DEPARTMENT</td>
      <td style="color: black">COURSE</td>
      <td style="color: black">REGISTER NO</td>
      <td style="color: black">DOB</td>
      <td style="color: black">SEMESTER</td>
      <td style="color: black">BLOOD GROUP</td>
      <td style="color: black">PLACE</td>
      <td style="color: black">POST</td>
      <td style="color: black">PIN</td>
      <td style="color: black">IMAGE</td>
       <td >&nbsp;</td>
      <td >&nbsp;</td>
      <td>&nbsp;</td>
      <td colspan="2" >&nbsp;</td>
    </tr>
      {% for i in data %}
    <tr>
      <td height="127">{{ loop.index }}</td>
      <td>{{ i.STUDENT_NAME }}</td>
        <td>{{ i.DEPARTMENT_NAME }}</td>
        <td>{{ i.COURSE_NAME}}</td>
        <td>{{ i.REGISTER_NO }}</td>
        <td>{{ i.DOB }}</td>
        <td>{{ i.SEM }}</td>
        <td>{{ i.BLOOD_GROUP }}</td>
        <td>{{ i.PLACE }}</td>
        <td>{{ i.POST }}</td>
        <td>{{ i.PIN}}</td>
        <td>{{ i.IMAGE }}</td>
      <td style="color: black"><a href="ADD_ATTENDANCE/{{ i.STUDENT_ID }}">ATTENDANCE</a></td>
        <td style="color: black"><a href="ADD_PARENT/{{ i.STUDENT_ID }}">ADD PARENTS</a></td>
      <td style="color: black"><a href="VIEW_PARENT_PROFILE/{{ i.STUDENT_ID }}">VIEW PARENT PROFILE</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}