{% extends 'teacherindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="579" height="646" border="1">

       <tr>
      <td><a href="ADD_PROFILE">ADD PROFILE</a></td>
    </tr>
      <tr>
      <td><a href="/ADD_NOTIFICATION">ADD NOTIFICATION</a></td>
    </tr>
    <tr>
      <td><a href="/VIEW_ATTENDANCE">VIEW ATTENDANCE</a></td>
    </tr>
      <tr>
      <td><a href="/VIEW_STUDENT_LIST">VIEW STUDENT LIST</a></td>
    </tr>
      <tr>
      <td><a href="/VIEW_PROFILE">VIEW PROFILE</a></td>
    </tr>
    <tr>
      <td><a href="/VIEW_MARK">VIEW MARK</a></td>
    </tr>
    <tr>
      <td><a href="/VIEW_NOTIFICATION">VIEW NOTIFICATION</a></td>
    </tr>
    <tr>
      <td><a href="/VIEW_ADMIN_NOTIFICATION">VIEW ADMIN NOTIFICATION</a></td>
    </tr>
    <tr>
      <td><a href="/VIEW_ADMIN_EVENT">VIEW ADMIN EVENT</a></td>
    </tr>
       <tr>
      <td><a href="/APPROVE_STUDENT_PROFILE">VIEW APPROVE STUDENT PROFILE</a></td>
    </tr>
       <tr>
      <td><a href="/STUDENT_PROFILE">VIEW STUDENT PROFILE</a></td>
    </tr>
      <tr>
      <td><a href="/SEND_LEAVE_REQUEST"> SEND LEAVE REQUEST</a></td>
    </tr>
      <tr>
      <td><a href="/VIEW_LEAVE_REQUEST_REPLY"> VIEW LEAVE REQUEST REPLY</a></td>
    </tr>
       <tr>
      <td><a href="/VIEW_STUDENT_LEAVE_REQUEST"> VIEW STUDENT LEAVE REQUEST</a></td>
    </tr>
      <tr>
      <td><a href="/VIEW_SUBJECTS">VIEW SUBJECTS</a></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}