{% extends 'teacherindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="740" height="190" border="1" class="table table-responsive">
    <tr>
      <th style="color: black" colspan="2" scope="row"><label for="select"></label>
      COURSE</th>
      <th style="color: black" colspan="2" scope="row"><select name="course" id="select">

           {% for i in data %}

        <option value="{{ i.COURSE_ID }}">{{ i.COURSE_NAME }}</option>

            {% endfor %}

      </select></th>
    </tr>
    <tr>
      <th style="color: black" colspan="4" scope="row"><input type="submit" name="button" id="button" value="SERACH" /></th>
    </tr>
    <tr>
      <th style="color: black" width="89" scope="row">#</th>
      <th style="color: black" width="89" scope="row">SUBJECT</th>
      <th style="color: black" width="89" scope="row"></th>
      <td style="color: black" width="209">&nbsp;</td>
    </tr>
  {% for i in data1 %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i.SUBJECT_NAME }}</td>
      <td width="121"><div align="center"><a href="/UPLOAD/{{ i.SUBJECT_ID }}">UPLOAD MATERIALS</a></div></td>
        <td width="103"><div align="center"><a href="/VIEW_UPLOAD/{{ i.SUBJECT_ID }}">VIEW MATERIALS</a></div></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}