{% extends 'teacherindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="524" height="224" border="1">
    <tr>
      <td width="34" align="center" style="color: black">#</td>
      <td width="141" align="center" style="color: black">NOTIFICATION</td>
      <td width="168" align="center" style="color: black">NOTIFICATION DETAILS</td>
      <td width="153" align="center" style="color: black"></td>
    </tr>
   {% for i in data %}
    <tr>
      <td>>{{ loop.index }}</td>
        <td>{{ i.NOTIFICATION_DATE }}</td>
      <td >{{ i.NOTIFICATION_NAME }}</td>
        <td >{{ i.NOTIFICATION_DEATILES }}</td>
         <td ><a href="/UPDATE_TEACHER_NOTIFICATION/{{ i.NOTIFICATION_ID }}">UPDATE</a></td>
      <td><a href="DELETE_TEACHER_NOTIFICATION/{{ i.NOTIFICATION_ID }}"onclick="return confirm('ARE YOU SURE TO DELETE')">DELETE</a></td>
    </tr>
         {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}