{% extends 'adminindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table align="center" width="441" height="211" border="1" class="table table-responsive">
    <tr>
      <td style="color: black">EVENT NAME</td>
      <td><label for="textfield"></label>
      <input style="color: black" type="text" name="textfield" id="textfield" required/></td>
    </tr>
     <tr>
      <td style="color: black">EVENT DETAILS</td>
      <td><label for="textarea"></label>
      <textarea style="color: black" name="textarea" id="textarea" cols="45" rows="5" required></textarea></td>
    </tr>
    <tr>
      <td style="color: black">EVENT IMAGE</td>
      <td><label for="fileField"></label>
      <input type="file" name="fileField" id="fileField" /></td>
    </tr>
      <tr>
      <td style="color: black">EVENT DATE</td>
      <td><label for="textfield2"></label>
      <input style="color: black" type="date" name="textfield2" id="textfield2" required/></td>
    </tr>

    <tr>
      <td style="color: black" colspan="2" align="center"><input type="submit" name="button" id="button" value="ADD" /></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}