{% extends 'adminindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="579" height="646" border="1">

    <tr>
      <td><a href="ADD_DEPARTMENT">ADD DEPARTMENT</a></td>
    </tr>
       <tr>
      <td><a href="ADD_COURSE">ADD COURSE</a></td>
    </tr>
    <tr>
      <td><a href="ADD_EVENT">ADD EVENT</a></td>
    </tr>
    <tr>
      <td><a href="ADD_NOTIFICATION">ADD NOTIFICATION</a></td>
    </tr>
    <tr>
      <td><a href="ADD_STUDENT">ADD STUDENT</a></td>
    </tr>
    <tr>
      <td><a href="ADD_SUBJECT">ADD SUBJECT</a></td>
    </tr>
    <tr>
      <td><a href="/ADD_TEACHER">ADD TEACHER</a></td>
    </tr>
    <tr>
      <td><a href="ADD_TUTOR">ADD TUTOR</a></td>
    </tr>
    <tr>
      <td><a href="ADD_TIMETABLE">ADD TIMETABLE</a></td>
    </tr>
    <tr>
{#      <td><a href="#">UPDATE TEACHER</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="#">UPDATE COURSE</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="#">UPDATE EVENT</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="#">UPDATE NOTIFICATION</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="#">UPDATE STUDENT</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="#">UPDATE TIMETABLE</a></td>#}
{#    </tr>#}

    <tr>
      <td><a href="/VIEW_DEPARTMENT">VIEW DEPARTMENT</a></td>
    </tr>
      <tr>
      <td><a href="/VIEW_COURSE">VIEW COURSE</a></td>
    </tr>
    <tr>
      <td><a href="/VIEW_EVENT">VIEW EVENT</a></td>
    </tr>
    <tr>
      <td><a href="/VIEW_NOTIFICATION">VIEW NOTIFICATION</a></td>
    </tr>
    <tr>
      <td><a href="/VIEW_REPLY">VIEW LEAVE</a></td>
    </tr>
    <tr>
      <td><a href="/VIEW_STUDENT">VIEW STUDENT</a></td>
    </tr>
    <tr>
      <td><a href="/VIEW_SUBJECT">VIEW SUBJECT</a></td>
    </tr>
    <tr>
      <td><a href="/VIEW_TEACHER">VIEW TEACHER</a></td>
    </tr>
      <tr>
      <td><a href="/VIEW_TUTOR">VIEW TUTOR</a></td>
    </tr>
       <tr>
      <td><a href="/VIEW_TIMETABLE">VIEW TIMETABLE</a></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}