{% extends 'adminindex.html' %}
{% block body %}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="254" height="116" border="1" class="table table-responsive">

    <tr>
      <td style="color: black" width="92">DEPARTMENT</td>
      <td width="103"><label for="textfield3"></label>
      <input style="color: black" type="text" name="textfield" id="textfield3" value="{{ data.DEPARTMENT_NAME}}" required/></td>
    </tr>

    <tr>
      <td style="color: black" colspan="2"align="center"><input type="submit" name="button" id="button" value="UPDATE" /></td>
    </tr>
  </table>
</form>


</body>
</html>
{% endblock %}